@import "tailwindcss";

:root {
    --font-playfair: "Playfair Display", serif;
    --font-open-sans: "Open Sans", sans-serif;
    --font-lora: "Lora", serif;

    --color-title: #6b1e1e;
    --color-text: rgb(0, 0, 58);
    --color-border: #c5a572;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    /* font-family: var(--font-open-sans); */
    font-family: var(--font-lora);
    color: var(--color-text);
    background-image: url("../../public/papier-ancien.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h3,
h5,
h6 {
    font-family: var(--font-playfair);
    color: var(--color-title);
    font-weight: 700;
}

h4 {
    font-family: var(--font-playfair);
}

a:hover {
    color: var(--color-title);
    font-weight: bold;
}

.border-custom {
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.img-shadow {
  box-shadow: -7px 10px 30px 0px rgba(0,0,0,0.8);
}

.img-etq {
  width: auto;
  height: auto;
}

.bg-cave {
  background-image: url('../../public/millesimes/cave-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-cave-b {
  background-image: url('../../public/millesimes/bg-cave2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.border-article {
  border: 2px solid #6b1e1e;
}